# TASK 4.6 - PART 2

## This script contains Step 3- Step 7 from Task 4.6 and has the following points:
### 01. Importing libraries
### 02. Importing Data
### 03. Merging the orders_products_combined dataframe with the products data set
### 04. Exporting Data in Pickle Format
--------------------------------------------------------------------------------------------------------------------

## 01. Importing libraries

In [14]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Step 3.  Import the orders_products_combined dataframe from the pickle file

## 02. Importing Data

In [15]:
path = r'C:\Users\Sanja\Documents\08-2020 Instacart Basket Analysis'

In [16]:
df_ords_pr_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined.pkl'))

In [19]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# Step 4. Check the shape of the imported dataframe
### Tip: It should be the same as the one you exported—always check!

In [17]:
df_ords_pr_comb.shape

(32434489, 10)

In [20]:
#Check the dimensions of the imported dataframe
df_prods.shape

(49672, 6)

# Step 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
### Tip: Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

## 03. Merging the  orders_products_combined dataframe with the products data set

In [33]:
# Dropping the '_merge' column of the 'df_ords_pr_comb' dataFrame
df_ords_pr_comb = df_ords_pr_comb.iloc[:, :-1]

In [34]:
df_ords_pr_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [24]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### Observations: Common ground found under 'product_id'

In [35]:
# Merge df__ords_pr_comb and df_prods using product_id as a key 
df_merged_ords_prods = df_ords_pr_comb.merge(df_prods, on = 'product_id', indicator = True)

In [36]:
df_merged_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [37]:
df_merged_ords_prods.shape

(32404859, 14)

# Step 6. Confirm the results of the merge using the merge flag

In [38]:
# Use the indicator argument to check whether there was a full match between the two dataframes
df_merged_ords_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [39]:
#double-check the full match with the argument how = 'outer'
df_merged_ords_prods_check = df_ords_pr_comb.merge(df_prods, on = 'product_id', indicator = True, how = 'outer')

In [40]:
# Use the indicator argument to check whether there was a full match between the two dataframes
df_merged_ords_prods_check['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

#### Note: After using this method to double-check the merge, we can see that we don’t actually have a full match. For the Instacart project, we’ll only be working with data sets that have a full merge rate, so we won’t need to worry about this or apply any changes to the merge you just completed (using how = 'inner'). However, we should always double-check the merge rates using an outer join, as well, especially when we’re exploring new data and performing test merges.

# Step 7.  Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)

## 04. Exporting Data in Pickle Format

In [41]:
df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))