# TASK 4.6 - PART 1

## This script contains Step 1&2 from Task 4.6 and has the following points:
### 01. Importing libraries
### 02. Importing Data
### 03. Merging the prepared Instacart orders data with the new orders_products_prior dataframe
### 04. Exporting Data in Pickle Format

# Step 1.

## 01. Importing libraries

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [5]:
path = r'C:\Users\Sanja\Documents\08-2020 Instacart Basket Analysis'

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## 03. Consistency check for 'orders_products_prior'

In [8]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [22]:
# Check for mixed types
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\Sanja\AppData\Local\Temp\ipykernel_1952\1144555846.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len (df_ords[weird]) > 0:
C:\Users\Sanja\AppData\Local\Temp\ipykernel_1952\1144555846.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len (df_ords[weird]) > 0:
C:\Users\Sanja\AppData\Local\Temp\ipykernel_1952\1144555846.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len (df_ords[weird]) > 0:
C:\Users\Sanja\AppData\Local\Temp\ipykernel_1952\1144555846.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if len (df_ords[weird]) > 0:

### Note: There are no mixed data type in the dataframe

In [ ]:
# Check for missing values

In [23]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Note: No missing values found

In [24]:
# Check for duplicate values
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [25]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### Note: No duplicates found

## 03. Merging the prepared Instacart orders data with the new orders_products_prior dataframe

In [9]:
#Check the dimensions of the imported dataframe
df_ords_prior.shape

(32434489, 4)

In [10]:
#Check the dimensions of the imported dataframe
df_ords.shape

(3421083, 7)

In [11]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [13]:
# Dropping the first column of the dataFrame for the orders checked, because it was exported with the index column in prepared Instacart orders data
df_ords = df_ords.iloc[:,1:]

In [14]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [15]:
# Merge df_ords and df_ords_prior using order_id as a key 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
df_merged_large.shape

(32434489, 10)

In [18]:
# Use the indicator argument to check whether there was a full match between the two dataframes
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
# Merge df_ords and df_ords_prior using order_id as a key & the argument how = 'outer', to double-check the full match 
df_merged_large_test= df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [20]:
# Use the indicator argument to check whether there was a full match between the two dataframes
df_merged_large_test['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

#### Note: After using this method to double-check the merge, we can see that we don’t actually have a full match. For the Instacart project, we’ll only be working with data sets that have a full merge rate, so we won’t need to worry about this or apply any changes to the merge you just completed (using how = 'inner'). However, we should always double-check the merge rates using an outer join, as well, especially when we’re exploring new data and performing test merges.

# Step 2.

## 04. Exporting Data in Pickle Format

In [21]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))